
.calendar-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}
.calendar-wrapper{
    position: relative; 
    overflow: visible; 
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .react-calendar{
    border-radius: 6px;
  }
  .react-calendar__tile {
    overflow: visible !important;
    position: relative; /* Required for tooltip positioning inside it */
  }
  .calendar-error{
    border: 4px solid red !important;
    border-radius: 8px;
  }
  .calendar-wrapper_span{
    margin-bottom: 6px;
  }
  .range-div{
    padding: 6px 0;
    margin-left: 12px;
  }