#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
.fetchData-btn{
  background-color: #4299e1;
  border-radius: .25rem;
  font-weight: 700;
  color: white;
  border: 1px solid #4299e1;
  margin-top: 12px;
  margin-left: 12px;
}
.fetchData-btn:hover{
  background-color: #2b6cb0;
  border: 1px solid #4299e1;
}
.calendar-span{
  width: fit-content;
  background-color: white;
  padding: 6px 12px;
  border: 1px solid rgba(0, 0, 0, 0.2);;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.5);;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}